extends layout

block links
  link(rel='stylesheet', href='/stylesheets/articles.css')

block content
  include nav.pug
  section#news-header
    .header
      .top-story
        .latest-article
          h4 Latest Article
          a(href=`/articles/${articles[0].quick}`)   
            h2= articles[0].headline
        p= articles[0].date
        p!= articles[0].story[0].text[0]
        a.detail-anchor(href=`/articles/${articles[0].quick}`) Full Story
  section#news
    each h in articles
      .article-block
        .article-top
          a(href=`/articles/${h.quick}`)
            h4= h.headline
        p!=h.story[0].text[0]
