extends layout

block metas
  meta(property="og:url", content=`https://totespets.com/blog/${post[0].quick}`)
  meta(property="og:type", content="article")
  meta(property="og:title", content=`${post[0].headline}`)
  meta(property="og:description", content=`${post[0].desc}`)
  meta(property="og:image", content=`https://totespets.com/images/${post[0].image}`)
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content=`https://totespets.com/images/${article[0].image}`)


block links
  link(rel='stylesheet', href='/stylesheets/blogpost.css')

block content
  include nav.pug
  section.dark-header
    .blog-header
      h2= post[0].headline
      h4= post[0].author + " | " + post[0].date
      h3 totes blog
      span#fb-share(data-url=`https://totespets.com/blog/${post[0].quick}`)
        i.fab.fa-facebook-square
      span#tw-share
        a(href=`https://twitter.com/intent/tweet?text=${post[0].desc}&url=https://totespets.com/blog/${post[0].quick}&via=totespets`)
          i.fab.fa-twitter-square 
  section
    article.blog-post 
      each n in post[0].story
        h4= n.subheader
        each x in n.text
          p!= x
      a(href="/blog") Back to Blog
