extends layout

block metas
  meta(property="og:url", content=`https://totespets.com/gallery/1`)
  meta(property="og:type", content="article")
  meta(property="og:title", content="Totes Pets Gallery")
  meta(property="og:description", content="Enjoy these pictures of rescue dogs and cats, taken by our volunteer photographers")
  //meta(property="og:image", content=`https://totespets.com/images/${article[0].image}`)
  meta(name="twitter:card", content="summary_large_image")
  //meta(name="twitter:image:src", content=`https://totespets.com/images/${article[0].image}`)
  script(type="text/javascript").
    if (!('IntersectionObserver' in window)) {
        var script = document.createElement("script");
        script.src = "https://raw.githubusercontent.com/w3c/IntersectionObserver/master/polyfill/intersection-observer.js";
        document.getElementsByTagName('head')[0].appendChild(script);
    }
  script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js")

block links
  link(rel='stylesheet', href='/stylesheets/gallery.css')

block content
  include nav.pug
  section.dark-header
    .news-header
      h4 Totes Pets offers volunteer photography services to rescue shelters in the Central Texas area.
        | This is our photo collection of rescued dogs and cats.
      h3 totes gallery
      span#fb-share(data-url=`https://totespets.com/gallery/1`)
        i.fab.fa-facebook-square
      span#tw-share
        a(href=`https://twitter.com/intent/tweet?text=Our+photo+collection+of+rescued+dogs+and+cats&url=https://totespets.com/gallery/1`)
          i.fab.fa-twitter-square
  section.gallery-section
    .gallery-nav
      .min-gallery-page
        i.fal.fa-angle-double-left
      .prev-gallery-page
        i.fal.fa-angle-left
      input.gallery-page-input
      p of 
        span.gallery-max= max[0].page
      .next-gallery-page
        i.fal.fa-angle-right  
      .max-gallery-page
        i.fal.fa-angle-double-right
    .gallery-set
      each pic in galleryset
        figure
          img.lozad(data-src=`${pic.image}`, alt=`${pic.image}`)
          noscript
            img(src=`${pic.image}`, alt=`${pic.image}`)
          figcaption= pic.name + ' - ' + pic.shelter + ' '
            a(href=`https://${pic.website}`, target="_blank")
              i.fal.fa-globe
    .gallery-nav
      .min-gallery-page
        i.fal.fa-angle-double-left
      .prev-gallery-page
        i.fal.fa-angle-left
      input.gallery-page-input
      p of 
        span.gallery-max= max[0].page
      .next-gallery-page
        i.fal.fa-angle-right  
      .max-gallery-page
        i.fal.fa-angle-double-right          
block scripts
  script(src="/javascripts/galleryscript.js")
    
