extends layout

block metas
  meta(property="og:url", content=`https://totespets.com/articles/${article[0].quick}`)
  meta(property="og:type", content="article")
  meta(property="og:title", content=`${article[0].headline}`)
  meta(property="og:description", content=`${article[0].desc}`)

block links
  link(rel='stylesheet', href='/stylesheets/newsarticle.css')

block content
  include nav.pug
  section.dark-header
    .news-header
      h2= article[0].headline
      h4= article[0].author + " | " + article[0].date
      h3 totes article
      span#fb-share(data-url=`https://totespets.com/articles/${article[0].quick}`)
        i.fab.fa-facebook-square
      span#tw-share
        i.fab.fa-twitter-square
  section
    article.news-article 
      each n in article[0].story
        h4= n.subheader
        each x in n.text
          p!= x
      h4.article-close Peace, Love, and Paws.
      a(href="/articles") Back to articles
      
block scripts
