extends layout

block metas
  meta(property="og:url", content=`https://totespets.com`)
  meta(property="og:type", content="article")
  meta(property="og:title", content="We're Totes Pets")
  meta(property="og:description", content="Help find loving, forever homes surrendered and rescued animals | Promote safe and responsible pet ownership")
  meta(property="og:image", content="https://totespets.com/images/totes_pets_logofull.png")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content="https://totespets.com/images/totes_pets_logofull.png")  

block content
  include nav.pug
  section.intro 
    .logo-container
    h4 Help find loving, forever homes for surrendered and rescued animals
    h4 Promote safe and responsible pet ownership
    i.fal.fa-chevron-circle-down.fa-3x
  //
    section.pet-name-gen
      h3 Pet Name Suggesterator
      p Having trouble finding the perfect name for your newly adopted pet?
      P Let us help
      a(href="/petname") Pet Names
  section
    article.article-preview
      h2.landing-labels articles
      .preview
        a(href=`/articles/${previews.a[0].quick}`)
          h3= previews.a[0].headline
        p!= previews.a[0].story[0].text[0]
        a(href=`/articles/${previews.a[0].quick}`) Read Article
  .featured-content-hero
    #adoption-header
      h3 Thinking about adopting a pet?    
      p If you're new to pet adoption, we have a helpful series of articles to help guide you through the adoption process.
    #adoption-process
      a(href='/articles/adopting-a-pet-intro', data-message="Introduction")
        i.fal.fa-bookmark.fa-2x
      span
        i.fal.fa-long-arrow-right.fa-2x
      a(href='/articles/choosing-a-pet', data-message="Choosing a Pet")  
        i.fal.fa-paw.fa-2x  
      span
        i.fal.fa-long-arrow-right.fa-2x
      a(href='/articles/the-adoption-process', data-message="The Adoption Process")  
        i.fal.fa-file-edit.fa-2x
      span
        i.fal.fa-long-arrow-right.fa-2x
      a(href='#', data-message="Bring Your Pet Home")
        i.fal.fa-home.fa-2x           
      span
        i.fal.fa-long-arrow-right.fa-2x
      a(href='#', data-message="Living Happily Ever After")  
        i.fal.fa-heart.fa-2x
    #adoption-message
          
  section
    article.blog-preview.clear-fix
      h2.landing-labels blog
      .preview
        a(href=`/blog/${previews.b[0].quick}`)
          h3= previews.b[0].headline
        p!= previews.b[0].story[0].text[0]
        a(href=`/blog/${previews.b[0].quick}`) Read Blog
  
