extends layout

block content
  include nav.pug
  section.intro 
    .logo-container
    p Help find loving, forever homes for surrendered and rescued animals
    p Promote safe and responsible pet ownership
    i.fa.fa-chevron-down.fa-2x
  //
    section.pet-name-gen
      h3 Pet Name Suggesterator
      p Having trouble finding the perfect name for your newly adopted pet?
      P Let us help
      a(href="/petname") Pet Names
  section
    article.article-preview
      .preview
        a(href=`/articles/${previews.a[0].quick}`)
          h3= previews.a[0].headline
        p!= previews.a[0].story[0].text[0]
        a(href=`/articles/${previews.a[0].quick}`) Read Article
  .featured-content-hero
    div
      h3 Thinking about adopting a pet?    
      p If you're new to pet adoption, we have a helpful series of articles to help guide you through the adoption process.
    div
      a(href='/articles/adopting-a-pet-intro') Introduction
      a(href='/articles/choosing-a-pet') Choosing a Pet
      a(href='/articles/the-adoption-process') The Adoption Process 
      a(href='#') Bringing Your Pet Home
      a(href='#') Living Happily Ever After
  section
    article.blog-preview.clear-fix
      .preview
        a(href=`/blog/${previews.b[0].quick}`)
          h3= previews.b[0].headline
        p!= previews.b[0].story[0].text[0]
        a(href=`/blog/${previews.b[0].quick}`) Read Blog
  
