extends layout

block content
  include nav.pug
  section#intro 
    .logo-container
    p Help find loving, forever homes for surrendered and rescued animals.
    p Promote safe and responsible pet ownership.
    i.fa.fa-angle-down.fa-4x
  section.pet-name-gen
    h3 Pet Name Suggesterator
    p Having trouble finding the perfect name for your newly adopted pet?
    P Let us help
    a(href="/petname") Pet Names
  section.preview
    article
      a(href=`/articles/${previews.a[0].quick}`)
        h3= previews.a[0].headline
      p!= previews.a[0].story[0].text[0]
      a(href=`/articles/${previews.a[0].quick}`) Read Article
    article
      a(href=`/blog/${previews.b[0].quick}`)
        h3= previews.b[0].headline
      p!= previews.b[0].story[0].text[0]
      a(href=`/blog/${previews.b[0].quick}`) Read Blog
    
